* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-weight: 700;
    background-color: #1A1A1A;
    font-family: Montserrat, sans-serif;
}

h2 {
    margin: 25px;
    color: white;
}

p {
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; 
}

#input-container {
    /* border: 2px solid black; */
    max-width: 235px;
    min-height: 70px;
    background-color: #edf2f4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 20px;
    flex-wrap: wrap;
    background-color: #27270f;
    
}

#calculator-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    min-width: 300px;
    min-height: 100px;
    /* border: 2px solid black; */
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
     background-color: #434343;
     color: #5A8F1E;
}



#values-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    /* border: 2px solid black; */
    min-height: 300px;
}

#first-row, #second-row, #third-row, #fourth-row, #fifth-row {
    display: flex;
    justify-content: space-evenly;
    /* min-width: 300px; */
    align-items: center;
    /* border: 2px solid black; */

}

.value, .operator, #clear {
    padding: 10px 15px;
    border-radius: 15px;
    font-weight: 700;
    height: 45px;
    width: 50px;
    font-size: 18px;
}
 

.value {
    color: #d9d9d9;
    background-color: #464646;
    border-right: none;
    border-bottom: none;
    box-shadow: 6px 8px 10px -7px rgba(0,0,0,0.75);
}


#clear, #open-para, #first-row #close-para, #backspace, .operator {
    background-color: #636363;
    color: white;
    border-right: none;
    border-bottom: none;
    box-shadow: 6px 8px 10px -7px rgba(0,0,0,0.75);
}

#fifth-row #equal {
    background-color: #E6A845;
}

#input-value {
    padding-right: 5px;
}

