* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-weight: 700;
}

h2 {
    margin: 25px;
}

p {
    font-size: 25px;

}

#input-container {
    border: 2px solid black;
    min-width: 180px;
    min-height: 40px;
    background-color: #edf2f4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#calculator-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    min-width: 300px;
    min-height: 100px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
     background-color: #2b2d42;
}



#values-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    /* border: 2px solid black; */
    min-height: 300px;
}

#first-row, #second-row, #third-row, #fourth-row {
    display: flex;
    justify-content: space-evenly;
    /* min-width: 300px; */
    align-items: center;
    /* border: 2px solid black; */

}

.value, .operator, #clear {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #8d99ae;
    font-weight: 700;
}

#clear-value {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    /* border: 2px solid black; */
}

.value {
    color: #d9d9d9;
}

.operator {
    color: #8d0801;
}

#clear {
    color: #ff9f1c
}